/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper{
	margin: 0 auto;
	max-width: 999px;
	font-family: Verdana, Geneva, sans-serif;
}
header{
	display: flex;
	justify-content: space-between;
	background-color: #1B5589;
	padding: 0 50px;
}
.menu{
	display: flex;
	align-items: center;
}
.header-img{
	width: 30px;
	height: 30px;
	background: url(images/chalkboard-teacher-solid2.svg) center / 30px 30px no-repeat;
}
.menu ul{
	display: flex;
	margin-left: 10px;
}
.menu ul li a{
	color: #87A7C0;
	margin-right: 25px;
}
.menu ul li:nth-child(3) a{
	color: #fff;
}
.menu ul li a:hover{
	color: #fff;
}
h1{
	font-size: 20px;
	text-align: center;
	color: gray;
	margin: 30px;
}
.wrapper-settings{
	margin: 0 auto;
	max-width: 899px;
}
.wrapper-settings ul{
	display: flex;
	background-color: #CCE5FF;
	font-size: 16px;
	padding: 15px 50px;
	text-transform: uppercase;
	color: #2E679F;
}	

